<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>StringsTable</key>
<string>Root</string>
<key>PreferenceSpecifiers</key>
<array>


<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>Nutzerdaten</string>
</dict>

<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>Vorname</string>
<key>Key</key>
<string>vname</string>
<key>DefaultValue</key>
<string>Max</string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>


<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>Familienname</string>
<key>Key</key>
<string>fname</string>
<key>DefaultValue</key>
<string>Mustermann</string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>

<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>eMail-Adresse</string>
<key>Key</key>
<string>email</string>
<key>DefaultValue</key>
<string></string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>


<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>Adresse</string>
<key>Key</key>
<string>address</string>
<key>DefaultValue</key>
<string>Gartenweg 8</string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>

<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>Postleitzahl</string>
<key>Key</key>
<string>zip</string>
<key>DefaultValue</key>
<string>22303</string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>

<dict>
<key>Type</key>
<string>PSTextFieldSpecifier</string>
<key>Title</key>
<string>Ort</string>
<key>Key</key>
<string>city</string>
<key>DefaultValue</key>
<string>Hamburg</string>
<key>IsSecure</key>
<false/>
<key>KeyboardType</key>
<string>Alphabet</string>
<key>AutocapitalizationType</key>
<string>None</string>
<key>AutocorrectionType</key>
<string>No</string>
</dict>


<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>Sicherheit/Freiheit</string>
</dict>

<dict>
<key>Type</key>
<string>PSToggleSwitchSpecifier</string>
<key>Title</key>
<string>Zugangsdaten speichern?</string>
<key>Key</key>
<string>loginsaving</string>
<key>DefaultValue</key>
<true/>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>Timeout (5 - 50 sec.)</string>
</dict>
<dict>
<key>Type</key><string>PSSliderSpecifier</string>

<key>Title</key><string>Internet-Timeout (sec.)</string>

<key>MinimumValue</key><real>5</real>

<key>MaximumValue</key><real>50</real>
<key>DefaultValue</key><real>15</real>

<key>Key</key><string>timeout</string>

</dict>


</array>
</dict>
</plist>